{{ define "main" }}
<main>
	<article class="h-entry">
{{ if .Title }}
		<div class="title">
			<h1 class="title p-name">{{ .Title }}</h1>
			<div class="meta"><a href="{{ .Permalink }}" style="border-bottom: 0px;" class="u-url"><time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">Posted on {{ dateFormat "Jan 2, 2006" .Date }}</time></a>{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>

		<section class="body e-content">
			{{ .Content }}
		</section>
{{ else }}

		<section class="body microblog e-content">
			{{ .Content }}
		</section>
		<div class="meta"><a href="{{ .Permalink }}" style="border-bottom: 0px;" class="u-url"><time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">Posted on {{ dateFormat "Jan 2, 2006" .Date }}</time></a>{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
{{ end }}

{{ if and (eq .Type "post") (.Site.Params.include_conversation) }}
		<script src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
