<footer>
<hr>
{{- range $index, $key := .Site.Params.Social -}}
<a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>|
{{- end -}} 🎯
	{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }} <a href="https://drikkes.com/">drikkes</a> | Follow  @ <a href="https://micro.blog/drikkes">micro.blog</a>
</footer>
{{ if not .Site.IsServer }}
{{ end }}

{{- if (isset .Site.Params "social") -}}
<script>
      feather.replace()
</script>
{{- end }}
